.task {
  display: flex;
  align-items: center;
  width: 46rem;
  gap: 1.3rem;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid var(--gray-400);
  background: var(--gray-500);
  color: var(--gray-100);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
}
.task + .task {
  margin-top: 0.75rem;
}
.task p {
  font-size: 0.875;
  flex: 1;
}
.task button {
  line-height: 0;
  background-color: transparent;
  border: none;
  color: var(--gray-300);
  cursor: pointer;
  padding: 0.3125rem;
  border-radius: 4px;
}

.task button:hover {
  color: var(--red-500);
  background: var(--gray-400);
}

.task input[type="checkbox"] {
  appearance: none;

  border: 1px solid var(--blue-300);
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 100%;
  cursor: pointer;
}

.task input[type="checkbox"]:checked {
  background-color: var(--purple-500);
  border: none;
}

.task:has(:checked) {
  color: var(--gray-300);
  text-decoration: line-through;
}

input[type="checkbox"]:checked:after {
  content: url("../assets/check-light.svg"); /* Substitua pelo caminho para o seu ícone */
  position: absolute;
}

input[type="checkbox"] {
  position: relative;
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .task {
    width: 100%;
    padding: 1rem;
  }
}
